@charset "UTF-8";
.joinContainer {
	text-align: center;
	margin: 50px;
}

.joinBox {
	padding:10px;
	display: inline-block;
	width: 900px;
	margin-top: 20px;
	background-color: #fdfdfd;
	border-radius:5px;
	border-bottom: 2px solid #313131;
}

.agreeContainer {
	display: inline-block;
	text-align: left;
	padding: 30px;
}

.agreeBox {
	border: 1px solid #333333;
	width: 800px;
	background-color:#e5e2e1;
	display: inline-block;
	height: 200px;
	text-align: left;
	padding: 10px;
	overflow: auto;
}

.userInfoContainer {
	text-align: left;
}

.userInfoBox {
	border-top : 1px solid #313131;
	padding: 30px;
	display: inline-block;
}

.agreeBtn {
	margin-left: 740px;
	font-family: 'BMJUA';
}

.btnBox {
 width:800px;
	text-align: center;
}
.highInput{
	width: 500px;
}
.form-control{
	height: 50px;
}
.has-success{
	margin-top:10px;
}
.glyphicon-ok,.glyphicon-remove{
	line-height: 3.5;
}
.joinBtn {
	margin-top: 50px;
	width: 200px;
	height: 50px;
	border-radius: 5px;
	border: 2px solid #3a3d3d;
	background-color: #9b3341;
	font-size: 14pt;
	color: #d7d8db;
}
#pathTextarea{
	height: 200px;
}

h3,h4,h5{
	font-family: 'GoyangDeogyang' !important;
}
.userInfoContainer{
	font-family: 'BMJUA';
}