<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
   PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- myBatis 활동방식 -->
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>

	<!-- VO typeAliases -->
	<typeAliases>
		<typeAlias alias="BillboardVO" type="kr.coo.civ.vo.BillboardVO"/>
		<typeAlias alias="BranchVO" type="kr.coo.civ.vo.BranchVO"/>
		<typeAlias alias="FavoriteMovieVO" type="kr.coo.civ.vo.FavoriteMovieVO"/>
		<typeAlias alias="InflowRouteVO" type="kr.coo.civ.vo.InflowRouteVO"/>
		<typeAlias alias="MemberDibsVO" type="kr.coo.civ.vo.MemberDibsVO"/>
		<typeAlias alias="MemberShipVO" type="kr.coo.civ.vo.MemberShipVO"/>
		<typeAlias alias="MemberVO" type="kr.coo.civ.vo.MemberVO"/>
		<typeAlias alias="MovieCommentVO" type="kr.coo.civ.vo.MovieCommentVO"/>
		<typeAlias alias="MovieImgVO" type="kr.coo.civ.vo.MovieImgVO"/>
		<typeAlias alias="MovieVideoVO" type="kr.coo.civ.vo.MovieVideoVO"/>
		<typeAlias alias="MovieVO" type="kr.coo.civ.vo.MovieVO"/>
		<typeAlias alias="NoticeVO" type="kr.coo.civ.vo.NoticeVO"/>
		<typeAlias alias="PaymentVO" type="kr.coo.civ.vo.PaymentVO"/>
		<typeAlias alias="ScheduleVO" type="kr.coo.civ.vo.ScheduleVO"/>
		<typeAlias alias="ServiceCommentVO" type="kr.coo.civ.vo.ServiceCommentVO"/>
		<typeAlias alias="ServiceImgVO" type="kr.coo.civ.vo.ServiceImgVO"/>
		<typeAlias alias="ServiceVO" type="kr.coo.civ.vo.ServiceVO"/>
		
		<typeAlias alias="Criteria" type="kr.coo.civ.vo.domain.Criteria"/>
		<typeAlias alias="MovieQueryType" type="kr.coo.civ.vo.domain.MovieQueryType"/>
		<typeAlias alias="PageingInfo" type="kr.coo.civ.vo.domain.PageingInfo"/>
		<typeAlias alias="PageUtil" type="kr.coo.civ.vo.domain.PageUtil"/>
		<typeAlias alias="PaymentInfo" type="kr.coo.civ.vo.domain.PaymentInfo"/>
		<typeAlias alias="SearchInfo" type="kr.coo.civ.vo.domain.SearchInfo"/>
		<typeAlias alias="ShowPaymentInfo" type="kr.coo.civ.vo.domain.ShowPaymentInfo"/>

		<typeAlias alias="MemberSearchDTO" type="kr.coo.civ.vo.dto.MemberSearchDTO"/>
		<typeAlias alias="MovieCommentWithMemberDTO" type="kr.coo.civ.vo.dto.MovieCommentWithMemberDTO"/>
		<typeAlias alias="MovieDetailDTO" type="kr.coo.civ.vo.dto.MovieDetailDTO"/>
		<typeAlias alias="MoviePageDTO" type="kr.coo.civ.vo.dto.MoviePageDTO"/>
		<typeAlias alias="NoticeDTO" type="kr.coo.civ.vo.dto.NoticeDTO"/>
		<typeAlias alias="PaymentWithMovieDTO" type="kr.coo.civ.vo.dto.PaymentWithMovieDTO"/>
		<typeAlias alias="ScheduleWithMovieVO" type="kr.coo.civ.vo.dto.ScheduleWithMovieVO"/>
		<typeAlias alias="ServiceDTO" type="kr.coo.civ.vo.dto.ServiceDTO"/>
		<typeAlias alias="ServiceImgDTO" type="kr.coo.civ.vo.dto.ServiceImgDTO"/>
		<typeAlias alias="ServiceWithImg" type="kr.coo.civ.vo.dto.ServiceWithImg"/>
		<typeAlias alias="ServiceWithScommentWithSImgDTO" type="kr.coo.civ.vo.dto.ServiceWithScommentWithSImgDTO"/>
		<typeAlias alias="ThumbsInfoDTO" type="kr.coo.civ.vo.dto.ThumbsInfoDTO"/>
		<typeAlias alias="TotalScheduleDTO" type="kr.coo.civ.vo.dto.TotalScheduleDTO"/>
		

		<typeAlias alias="GenderDTO" type="kr.coo.civ.vo.statistics.GenderDTO"/>
		<typeAlias alias="JoinUserCountDTO" type="kr.coo.civ.vo.statistics.JoinUserCountDTO"/>
		<typeAlias alias="ReserveRateDTO" type="kr.coo.civ.vo.statistics.ReserveRateDTO"/>
		<typeAlias alias="SalesDTO" type="kr.coo.civ.vo.statistics.SalesDTO"/>
		<typeAlias alias="VisitorCountDTO" type="kr.coo.civ.vo.statistics.VisitorCountDTO"/>
		<typeAlias alias="VisitorDataList" type="kr.coo.civ.vo.statistics.VisitorDataList"/>
	</typeAliases>
	
	<!-- Mapper SQL -->
	<mappers>
		<mapper resource="kr/coo/civ/mapper/AuthMapper.xml" />
		<mapper resource="kr/coo/civ/mapper/HomeMapper.xml" />
		<mapper resource="kr/coo/civ/mapper/ManageMapper.xml" />
		<mapper resource="kr/coo/civ/mapper/MemberMapper.xml" />
		<mapper resource="kr/coo/civ/mapper/MovieDetailMapper.xml" />
		<mapper resource="kr/coo/civ/mapper/MoviePageMapper.xml" />
		<mapper resource="kr/coo/civ/mapper/PaymentMapper.xml" />
		<mapper resource="kr/coo/civ/mapper/StatisticsMapper.xml" />
		<mapper resource="kr/coo/civ/mapper/NoticeSQL.xml" />
		<mapper resource="kr/coo/civ/mapper/ServiceSQL.xml" />
	</mappers>

</configuration>